<h1>Welcome to the Change Machine</h1>
<form action="/change">
  <div class="form-group">
     <label for="cents">How many cents do you want converted to coins?
</label>
     <input id="cents" name="cents" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
